{% set integration_name = 'kubernetes' %}
{% set display_name = 'Kubernetes' %}
{#{% set show_test_connection = True %}#}

{% set default_template = default_template %}
{% set section_name = section_name | default('reporters') %}

<add-integration-button
    integration_name="{{ integration_name }}"
    display_name="{{ display_name }}"
    logo="{{ '<img src="%s"></img>' | format(url_for('%s.static' | format(integration_name), filename='logo.svg')) }}"
></add-integration-button>


<kubernetes-integration
        instance_name="{{ integration_name }}"
        @register="register"
        display_name="{{ display_name }}"

        section_name="{{ section_name }}"
        @update="custom_data.handle_integrations_update"
        logo_src="{{ url_for('%s.static' | format(integration_name), filename='logo_white.svg') }}"
></kubernetes-integration>

